ipython
jupyter
nose>=1.3.7

seaborn>=0.8.1
pydot

#tensorflow>=1.8.0
# Install custom tensorflow built with CPU optimizations
file:///Users/jon/data/sandbox/tensorflow/builds/tensorflow-1.8.0-cp36-cp36m-macosx_10_13_x86_64.whl
keras>=2.1.6
